.aboutUs{
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    background: #503A2C;
    border-top-left-radius: 100%;
    margin-left: -250px;
    padding-left: 250px;
    height: 500px
}
.aboutUsPicture{
    width: 183px;
    height: 105px;
    left: 12px;
    top: 349px;
    img{
        width:100%
    }
}
.aboutUsText{
    width: 165px;
    left: 229px;
    top: 301px;
    font-family: "Kagnue Free";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    text-transform: uppercase;
    color: #F4F0EF;
    padding-top: 55px;
}
.aboutDescription{
    width: 142px;
    height: 146px;
    left: 229px;
    top: 325px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F4F0EF;
    
}
.aboutUsPicture{
    margin-top: 135px;
    
}
.aboutTitle{
    font-family: 'Kagnue Free';
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #F4F0EF;
}
.aboutUsPicture img {
    width: 110%;
}